/*
Background color:       #3a4a58
    Title color:            #996633
    Text color:             #666666
    Text Dark color:        #333333
    Table Heading color:    #C4CDD6
    Table Alternate color:  #e5e8ed 
*/



body {
  background-color: #3a4a58;
  background-image: url(img/banner.jpg);
  color: #8c8c8c;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 0;
}




/* Navigation Bar Across Top */
.navBar {
    display: flex; 
    /*flex-flow: row wrap; */
 justify-content: space-around; 
    background-color: #3a4a58;
    min-height: 10px;
    color: #111;
   /* position: fixed; */
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 97%; /* Full width */
}

nav a {
    text-decoration: none;
    color:  #C4CDD6;
    font-size: 35px;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(82, 185, 226);
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

.mm-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
    min-width: 225px;
}
.mm-content { 
    background-color: #ffffff; 
}

#mm-intro-img {
  background-image: url(img/construction-01.jpg);
  background-position: center;
  background-size: cover;
  min-height: 200px;
}

.mm-text-white { color: white; }

.mm-page-header-container { text-align: center; }

.mm-page-header {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 500
}

.mm-page-icon {
  display: inline-block;
  vertical-align: baseline;
  padding: 15px;
}

.mm-section-header {
  color: #996633;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-spacing: 0;
}

td {
  /*text-align: center; 
  padding: 15px 25px;*/
}

.mm-text-left { 
    text-align: center;
    width: 100%
}

th {
  color: #333333;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
}

tr:nth-child(odd) { background-color: #e5e8ed; }

tr.mm-tr-header {
  background-color: #c4cdd6;
  height: 50px;
}

.mm-section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.mm-section-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

p {
  font-size: 1rem;
  line-height: 1.7;
text-align: center;
}

.mm-mb-0 {
    margin-bottom: 0;
     }
img { max-width: 100%; }
figure { margin: 0; }
figcaption { text-align: center; }

figcaption span {
  display: block;
  color: #333333;
  font-size: 18px;
}

.mm-item-name {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mm-special-items {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.mm-special-item {
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  width: 60%;
  border: 0.5px solid #ccc;
}

/* Gallery */
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 10%; 
  height: 10%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
/*
.mm-social-icons {
  text-align: center;
  margin-top: 30px;
}
.mm-social-icons i { font-size: 1.2rem; }
.mm-social-link-container { display: inline-block; }
/*
.mm-social-link {
  color: white;
  background-color: #c5ced8;
  border-radius: 2px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.mm-social-link:hover { background-color: #808e9e; }
.mm-contact-link {
  color: #333333;
  font-weight: 600;
  text-decoration: none;
}
a { transition: all 0.3s ease; }
.mm-contact-link:hover { color: #808e9e; }
*/

.mm-footer-text {
  font-size: 0.9rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.mm-footer-link {
  color: #fff;
  text-decoration: none;
}

.mm-footer-link:hover { color: #c5ced8; }



@media (max-width: 550px) {
    .navBar {
        position: fixed;
        width: 94%;
    }
  .mm-special-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mm-special-items {
    margin-left: -10px;
    margin-right: -10px;
  }
    
}

@media (max-width: 480px) {
    .navBar {
        position: fixed;
        width: 94%;
    }
  .mm-special-item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mm-special-items {
    margin-left: -5px;
    margin-right: -5px;
  }
    .mm-text-left { text-align: center; }
}

@media (max-width: 430px) {
  /*.mm-responsive-table { overflow-x: auto; }
  table { width: auto; }*/
    
    .navBar {
        position: fixed;
        width: 94%;
    }
  nav ul {
    list-style: none;
    padding-left: 0;
        text-align: center;
   }

  nav a {
    font-size: 15px;
}
  .mm-special-items { flex-direction: column; }
  .mm-special-item { margin-bottom: 40px; }
  figcaption p {
    margin-bottom: 0;
      line-height: 1;}
  }
